{% extends 'base.html' %}


{% block content %}
  <div class="jumbotron">

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1 class="display-3"></h1>
      <br>
      <h3>This is my site nerdy bird writer which i use to write my thoughts and my articles and notes</h3>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
        <div class="row">

{% for art in object_list %}
      <div class="col-md-4">
      
        <h2>{{art.title}}</h2>
        <p>{{art.short}} </p>
        <p><a class="btn btn-secondary" href="{% url 'articledetail' art.pk %}" role="button">View details &raquo;</a></p>
</div>
{% endfor %}
      </div>
     
    </div>

    <hr>

  </div> 

{% endblock %}